#Exclude clientside/ because that's where client images are stored
clientside/
#Covering this will be included in an install tutorial. No need for it anymore
_/include/envVars.php
#This is a godaddy thing, probably don't need it either
status/